<div class="container" ng-controller="loginCtrl">

    <div class="row">

        <h3 class="col-12">Вход</h3>

        <form class="col-12" ng-submit="tryToAuth()">
            <label for="loginUsername">Логин</label>
            <input class="col-12"
                   placeholder="username"
                   id="loginUsername"
                   type="text"
                   name="username"
                   ng-model="user.username">

            <label for="loginPassword">Пароль</label>
            <input class="col-12"
                   placeholder="password"
                   id="loginPassword"
                   type="password"
                   name="password"
                   ng-model="user.password">
            <button class="col-12 btn btn-outline-primary" type="submit">Войти</button>
        </form>
    </div>

    <a class="col-12 btn btn-secondary" href="#">вернуться на главную</a>

</div>