<div class="container" ng-controller="loginCtrl">

    <div class="row">

        <h3 class="col-12">Зарегистрировать новый ресторан</h3>

        <form class="col-12" ng-submit="registerNewRestaurant()">

            <label for="registerRestaurantName">Наименование ресторана</label>
            <input class="col-12"
                   placeholder="restaurant name"
                   id="registerRestaurantName"
                   type="text"
                   name="username"
                   ng-model=restaurantJSON.name>

            <label for="registerRestaurantDescription">Описание ресторана</label>
            <input class="col-12"
                   placeholder="restaurant description"
                   id="registerRestaurantDescription"
                   type="text"
                   name="username"
                   ng-model=restaurantJSON.description>

            <label for="registerUsername">Логин менеджера ресторана</label>
            <input class="col-12"
                   placeholder="manager name"
                   id="registerUsername"
                   type="text"
                   name="username"
                   ng-model=managerJSON.username>

            <label for="registerPassword">Пароль менеджера ресторана</label>
            <input class="col-12"
                   placeholder="manager password"
                   id="registerPassword"
                   type="password"
                   name="password"
                   ng-model=managerJSON.password>

            <input hidden type="text" name="role" ng-model=managerJSON.role>

            <button class="col-12 btn btn-outline-primary" type="submit">Зарегистрировать менеджера ресторана</button>
        </form>
    </div>

    <a class="col-12 btn btn-secondary" href="#">вернуться на главную</a>

</div>
