<section class="section site-portfolio" ng-controller="userCtrl">
    <div class="container">
        <div class="row">
            <h1 class="col-12">Сводная информация о Клиенте</h1>
        </div>

        <div class="row">
            <p class="col-12">Имя: {{userFirstName}}</p>
            <p class="col-12">Фамилия: {{userLastName}}</p>
            <p class="col-12">e-mail: {{userMail}}</p>
        </div>

        <div class="row">
            <h1 class="col-12">Все заказы Клиента</h1>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-4 mb-4"
                 ng-repeat="order in myOrders">

                <div class="card mb-4 shadow-sm"
                     ng-click="showOrderDetails(order.id)">

                    <div class="card-body">

                        <p class="card-header">Заказ № {{order.id}}</p>
                        <p class="card-text">от {{order.dateCreated | date: "yyyy.MM.dd hh:MM"}}</p>
                        <p class="card-text">restaurant {{getRestaurantName(order.restaurantId)}}</p>
                        <p class="card-text">Статус заказа {{order.status}}</p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
